$spotify-green: #1db954;
$spotify-black: #191414;
$error: #b00020;
$whitish: #ffffff;

// viewports
$mobile: 360px;
$sm: 1024px;
$md: 1920px;
$lg: 2560px;

.backgroundMain {
  background-color: $spotify-black;
  height: 100vh;
  width: 100vw;
}

.centralized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
