@import "../../../styles/theme.module.scss";

.tabBarContainer {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 39%,
    rgba(0, 0, 0, 0) 100%
  );
  @media only screen and (min-width: $sm) {
    display: none;
  }
}
